header {
    background-color: cadetblue;
    color: #fff;
}

figure {
    background-color: cadetblue;
}

img {
    border: 8px solid rgb(252, 187, 90);
}

figcaption {
    color: white;
    text-align: center;
    font-size: xx-large;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}