* {
    box-sizing: border-box;
    font-family: fantasy;
    text-shadow: 4px 4px 4px black;
}

header {
    background-color: cadetblue;
    color: white;
    padding: 2rem 0;
    font-size: xxx-large;
    text-align: center;
}

figure {
    background-color: cadetblue;
    padding-bottom: 1rem;
}

img {
    border: 8px solid rgb(252, 187, 90);
}

figcaption {
    color: white;
    text-align: center;
    font-size: xx-large;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}