* {
    background-image: url("../images/starry\ sky.jpeg");
    margin: 0;
    box-sizing: border-box;

}

header {
    font-family: fantasy;
    padding: 2rem 0;
    font-size: xxx-large;
    text-align: center;
    color: ghostwhite;
    text-shadow: 10px 10px 10px rgb(0, 110, 43);
}

.mainContainer {
    display: flex;
}

.nav {
    margin-left: 2em;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    columns: 2;
}

.box {
    color: white;
    font-size: xx-large;
    text-align: center;
}

.shipName {
    font-size: xx-large;
    color: white;
    text-shadow: rgb(3, 139, 55);
}

a {
    font-size: x-large;
    color: rgb(3, 139, 55);
}

a:hover {
    color: rgb(73, 112, 230);
}

footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    color: rgb(163, 148, 119);
}

