* {
    margin: 0;
    box-sizing: border-box;
}

header {
    font-family:fantasy;
    background-color: rgb(7, 56, 192);
    padding: 2rem 0;
    font-size: xxx-large;
    text-align: center;
    color: ghostwhite;
    text-shadow: 4px 4px 4px black;
}

.mainContainer {
    display: flex;
}

.nav {
    margin-left: 2em;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    background-color: cornsilk;
    font-size: x-large;
    text-align: center;
}

.shipName {
    font-size: xx-large;
    color: darkmagenta;
}

a {
    font-size: x-large;
    color: rgb(0, 30, 121);
}

a:hover {
    color: rgb(85, 1, 1);
}

li:hover {
background-color: rgb(255, 20, 20);
}

a li {
    background-color: rgb(100, 248, 167);
}
