* {
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: grey;
    padding: 2rem 0;
}

button {
    font-size: x-large;
    background-color: cadetblue;
    border-radius: 10px;
}

button:hover {
    background-color: hotpink;
}

main {
    display: flex;
    flex-wrap: wrap;
}

img {
    border: 8px solid rgb(252, 187, 90);
}

figure {
    margin: 8px;
    background-color: cadetblue;
}

figcaption {
    text-align: center;
    font-size: x-large;
}

figure img {
    width: 200px;
}