* {
    background-image: url("../images/starry\ sky.jpeg");
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}

button {
    font-family: fantasy;
    color: turquoise;
    font-size: xx-large;
    border-radius: 10px;
    border-color: turquoise;
}

button:hover {
    color: rgb(206, 204, 204);
}

main {
    display: flex;
    flex-wrap: wrap;
}

img {
    border: 8px solid turquoise;
}

figure {
    margin: 8px;
}

figcaption {
    font-family: fantasy;
    color: white;
    text-align: center;
    font-size: large;
}

figure img {
    width: 200px;
}