* {
    margin: 0;
    box-sizing: border-box;;
}

header {
    background-color: rgb(88, 88, 88);
    text-align: center;
    font-size: xxx-large;
    color: white;
    text-shadow: 4px 4px 4px black;
    padding: 1rem 0;
}

main {
    background-color: rgb(185, 185, 185);
    text-align: center;
    justify-content: space-around;
    padding: 1rem 0;
}

button {
    background-color: rgb(226, 226, 226);
    font-size: large;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
    transition: transform 0.3s linear
}

button:hover {
    background-color: rgb(0, 17, 255);
    color: rgb(255, 255, 255);
    transform: translateY(4px);
}

.senators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    border: 10px solid rgb(223, 33, 33);
}

figure {
    width: 160px;
    display: flex;
    flex-direction: column;
    margin: 1em;
}

figcaption {
    font-family:serif;
    font-size: large;
    text-align: center;
    background-color: rgb(86, 133, 202);
    border: 1px solid black;
}

footer {
    margin-bottom: .5rem;
    margin-left: .5rem;
    color: rgb(129, 129, 129);
    font-size: small;
}