* {
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(185, 185, 185);
}

header {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: xx-large;
    color: white;
    text-shadow: 4px 4px 4px black;
    padding: 2rem 0;
}

button {
    background-color: blanchedalmond;
    font-size: medium;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
}

button:hover {
    background-color: brown;
    color: rgb(255, 255, 255);
}

.senators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    border: 10px solid rgb(223, 33, 33);
}

figure {
    width: 160px;
    display: flex;
    flex-direction: column;
    margin: 1em;
}

figcaption {
    font-family:serif;
    font-size: large;
    text-align: center;
    background-color: rgb(86, 133, 202);
    border: 1px solid black;
}

footer {
    margin-bottom: .5rem;
    margin-left: .5rem;
    color: rgb(129, 129, 129);
    font-size: small;
}